//colors
$fresh: #afd4ce;
$cream: #faf2e0;
$blue: #476F7C;
$font-color: #3B3A36;
$mango: #ffc680;
$red: #CF2D39;




//spacing
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$s-size: 1.2rem;

$mobile-breakpoint: 45rem;

//styles

$b-radius: 3px;

//shadow

$normal-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.10);
$strong-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.20);